:root {
    --error-color: red;
    --header-color: black;
    --header-text-color: white;
    --header-text-color-hover: rgb(221, 213, 213);
    --header-button-color: red;
    --header-button-hover: red;
}