@import '../../styles/variables.css'

.card {
    display: flex;
    width: 80%;
    background-color: var( --loading-skeleton) ;

    @media (max-width:768px)  {
        flex-direction: column;
        font-size: 10px;
    }
    margin: 16px 0;
}