@import '../../styles/variables.css';

.navigation {
    position: sticky;
    z-index: 2;
    height: 50px;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}


.input {
    @media (max-width:768px)  { 
       width: 70px;
       padding: 4px 8px;
    }
}

.logo {
    margin: 0 16px;
    width: 90px;
    height: 35px;

    @media (max-width:768px)  { 
        width: 20px;
        height: 5px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width:768px)  { 
        font-size: 10px;
    }
}

.link {
    color: var(--header-text-color);
    text-decoration: none;
    align-self: center;
    padding: 8px 16px;
    font-weight: bold;

    @media (max-width:768px)  { 
        padding: 2px 4px;
    }
}

.link:hover{
    color: var(--header-text-color-hover);
}

.select {
    background-color: var(--header-color);
    margin-right: 16px;
    color: var(--header-text-color);
    border: none;

    @media (max-width:768px)  { 
        font-size: 10px;
    }
}

.select:focus {
    outline: none;
}