
.root {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.showMore {
    background-color: var(--header-button-color);
    text-decoration: none;
    color: var(--header-text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 8px;
    width: fit-content;
}

.showMore:hover {
   background-color: var(--header-button-color-hover);
}

.showMore:focus {
    outline: none;
}

.arrows {
    background-color: transparent;
    border: none;
}