.card {
    height: 280px;
    display: inline-block;
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 0 16px;
}

.content {
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image {
    position: relative;
    width: 300px;
    height: 200px;
}

.title {
    font-size: 16px;
    padding: 0 8px;
    word-break: break-all;
    white-space: normal;
}
